<nav class="navbar navbar-light" style="background-color: #6bb88a;">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/lg.png" alt="" width="90" height="90"/>
      </a>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quem sou</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Conteúdo</a>
        </li>
      </ul>
    </div>
  </nav>
