.description-text {
    margin-top: 20px;
}
.bgColor {
    /*background: #dacb8a;
    color: #392e0e;*/
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.format-control {
    padding: 50px;
    width: 98%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-end-start-radius: 50px;
    border-bottom-right-radius: 50px;

}
.format-control p {
    font-style: normal;
    font-weight: 400;
    line-height: 1.73;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0em;
}
.row {
    width: 98%;
    position: relative;
    top: -290px;
}
.col img {
    width: 100px;
    position: relative;
    right: 50px;
}
.col-right {
    text-align: right;
    position: relative;
    left: 120px;
    top: 10px;
}
@media screen and (min-width: 320px) and (max-width: 769px) {
    .description-text {
        display: none;
    }
    .about-me-mobile{
        align-items: center;
        background: #dacb8a;
        padding: 10px;

        background: #dacb8a;
        color: #392e0e;
        box-shadow: 0 0 1em rgb(126, 125, 125);
    }
    .container-mobile{
        padding:20px;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 769px) and (max-width:4800px){
    .about-me-mobile{
        display: none;
    }
}