<div class="container">
    <div class="row col-12">
        <div class="col col-4 widthImg">
            <img src="../../../assets/peperomia7.jpg" alt="..." />
            <div class="description">
                <h3>Classificação científica</h3>
                <ul>

                </ul>
                <ul>

                </ul>
            </div>
        </div>
        <div class="col font-style-text bgColor">
            <h4>Peperômia caperata rosso</h4>
            <label>
                <p>
                    Eu poderia colocar um milhão e meio de fotos dessa linda e maravilhosa planta chamada Peperômia, então
                    separei algumas fotos que vai deixar vocês louco(a) por ter uma planta como essa em, seu jardim ou na
                    sua casa. Peperômia é uma plantinha que consegue se desenvolver dentro de casa ou em ambiente meia
                    sombra pois, ela não gosta de excesso de luz solar, é importante deixa-la em locais arejado e que receba
                    luz.
                </p>
                <div class="observation">
                    <span>
                        “O fato delas gostarem muito de Luz, não significa que elas gosta de ficar diretamente no sol, isso não
                        é verdade, pois o excesso de sol pode queimar suas folhagens.”
                    </span>
                </div>
                <p>
                    A rega dela deve ser moderado, ela não gosta de solo enxercado demais. Dependendo da região que você
                    mora, por exemplo: Região nordeste e norte do Brasil, onde as temperaturas são mais elevadas, é
                    aconselhável sempre prestar atenção no substrato pra ver se ele está muito seco, se tiver, coloque mais
                    água. Por ser uma planta facilmente adaptável ao ambiente, os cuidados não são os mais difíceis:
                    regá-las três vezes por semana já é o bastante. "A peperômia reserva muita água nas folhas e nos troncos
                    ". Devemos evitar molhar as folhas da Peperômia de ambientes internos, a não ser que a umidade relativa
                    do ar esteja realmente muito baixa.
                </p>
                <p>
                    O substrato deve ser rico em matéria orgânica, porém perfeitamente drenável e irrigado de forma a secar
                    ligeiramente entre as regas e sem encharcar. No inverno, reduza as regas, evitando o apodrecimento das
                    raízes.
                </p>
                <div class="form-question">
                    <h3>
                        Perguntas frequentes:
                    </h3>

                    <div class="question">
                        <span>
                            Porque as folhas da peperômia caem?
                        </span>
                        <p>
                            " Pode ser devido à falta de luminosidade, necessita um mínimo de luz (meia sombra). Em relação a estar em
                            uma região litorânea, não tem muito problema, se adaptam bem. "
                        </p>
                    </div>

                    <div class="question">
                        <span>
                            As Peperômias florescem?
                        </span>
                        <p>
                            " Quando em condições ideais, a Peperômia produz pequenas espigas de flores brancas ou creme que duram
                            meses. "
                        </p>
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div class="col col-12 font-style-text bgColor-Curiosity">
        <h4>Ciclo de vida</h4>

        <div class="col-12 bgColor-Information">
            <h4>Curiosidade</h4>
        </div>
    </div>
    <div class="btn-next">
        <button>Próximo</button>
    </div>
</div>