<div class="container about-me">
    <div class="row format-border">
        <div class="col Card col-sm-5">
            <div class="imgBx">
                <img src="../../../assets/autor.jpg" alt="..." />
            </div>

            <div class="content-about-me">
                <div class="details">
                    <h2>Jordan Faustino<br><span>Developer Front-end Pleno</span></h2>
                    <div class="data">
                        <h3>5<br><span>Repositories</span></h3>
                        <h3><i class="bi bi-geo-alt-fill"></i><br><span>Brazil/SP</span></h3>
                        <h3>4Y<br><span>Experience</span></h3>
                    </div>
                    <div class="actionBtn">
                        <a href="https://github.com/JordanDevFront?tab=repositories"><i class="bi bi-github"></i> Github</a>
                        <a href="https://github.com/JordanDevFront?tab=repositories"><i class="bi bi-instagram"></i> Instagram</a>
                        <a href="https://www.linkedin.com/in/jordan-faustino/"><i class="bi bi-linkedin"></i> Connect</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col description">
            <h3 class="font-sans-serif">Quem sou eu...</h3>
            <div class="font-sans-serif font-size">
                <p>
                    " Olá!! Me chamo Jordan Faustino, tenho 25 anos de idade e atuo na área de programação front-end. Essa, é
                    só uma de minhas paixões, pois também sou louco pela natureza, e que felizmente, me levou a criar este
                    site.
                </p>

                <p>
                    Meu objetivo, é compartilhar meus conhecimentos sobre diversos tipos de plantas, e de como
                    cultiva-las
                    dentro de sua casa, trazendo uma nova cara para seus cômodos, da forma correta.

                    Sem esquecer dos benefícios para sua saúde, pois com a ajuda delas, nosso ar fica cada vez mais
                    limpo e
                    agradável. "
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container container-mobile">
    <div class="about-me-mobile">
        <div class="img-mobile">
            <img class="" src="../../../assets/autor.jpg" alt="..." />
        </div>
        <div class="title-mobile">
            <h3>Sobre mim...</h3>
        </div>
        <div class="text-mobile">
            <p>
                " Olá!! Me chamo Jordan Faustino, tenho 25 anos de idade e atuo na área de programação front-end. Essa,
                é
                só uma de minhas paixões, pois também sou louco pela natureza, e que felizmente, me levou a criar este
                site.
            </p>
            <p>
                Meu objetivo, é compartilhar meus conhecimentos sobre diversos tipos de plantas, e de como
                cultiva-las
                dentro de sua casa, trazendo uma nova cara para seus cômodos, da forma correta.

                Sem esquecer dos benefícios para sua saúde, pois com a ajuda delas, nosso ar fica cada vez mais
                limpo e
                agradável. "
            </p>
        </div>
    </div>
</div>