<div class="container">
    <div class="row col-12">
        <div class="col col-4">
            <img class="col-12" src="../../../assets/autor.jpg" alt="..." />
        </div>
        <div class="col col-8">
            <h3 class="font-sans-serif">Quem sou eu...</h3>
            <label class="font-sans-serif">
                " Olá!! Me chamo Jordan Faustino, tenho 25 anos de idade e atuo na área de programação front-end. Essa, é
                só uma de minhas paixões, pois também sou louco pela natureza, e que felizmente, me levou a criar este
                site.

                <p>
                    Meu objetivo, é compartilhar meus conhecimentos sobre diversos tipos de plantas, e de como cultiva-las
                    dentro de sua casa, trazendo uma nova cara para seus cômodos, da forma correta.

                    Sem esquecer dos benefícios para sua saúde, pois com a ajuda delas, nosso ar fica cada vez mais limpo e
                    agradável. "
                </p>
            </label>
        </div>
    </div>
</div>