<div class="rodape">
    <div class="container">
        <div class="row modal-desktop">
            <div class="col logo-img">
                <a class="logo-desktop" href="#">
                    <img src="../../../assets/lg.png" alt="" width="150" height="150" />
                  </a>
            </div>

            <div class="col margin-top-65">
                <a href="#" class="margin-10"><label class="format-label">Home</label></a>
                <a href="#" class="margin-10"><label class="format-label">Contato</label></a>
                <a href="#" class="margin-10"><label class="format-label">Quem sou</label></a>
                <a href="#" class="margin-10"><label class="format-label">Conteúdo</label></a>
            </div>

            <div class="col width-icons margin-top-50">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-github"></i>
                <i class="bi bi-linkedin"></i>
            </div>
        </div>
    </div>
</div>
