<div class="container control-desktop margin-top-90">
    <div class="row col-12">
        <div class="col item-width padding-20 bg-Color format-border-radius margin-10">
            <img class="img-width border-radius-img" src="../../../assets/CardOne.png"/>
            <div class="btn-position margin-10">
                <button type="button" routerLink="/textOne" class="btn btn-height format-border-radius btn-bgColor col-md-7">Saiba mais</button>
            </div>
        </div>
        
        <div class="col item-width padding-20 bg-Color format-border-radius margin-10">
            <img class="img-width border-radius-img" src="../../../assets/CardTwo.png"/>
            <div class="btn-position margin-10">
                <button type="button" class="btn btn-height format-border-radius btn-bgColor col-md-7">Saiba mais</button>
            </div>
        </div>

        <div class="col item-width padding-20 bg-Color format-border-radius margin-10">
            <img class="img-width border-radius-img" src="../../../assets/CardThree.png"/>
            <div class="btn-position margin-10">
                <button type="button" class="btn btn-height format-border-radius btn-bgColor col-md-7">Saiba mais</button>
            </div>
        </div>
    </div>
</div>

<div class="card control-mobile container" style="width: 16rem;">
    <img src="../../../assets/CardOne.png" class="card-img-top margin-10-top" alt="..."/>
    <div class="card-body">
        <button type="button" class="btn btn-success">Saiba mais</button>
    </div>
  </div>