<div class="container display-flex control-desktop">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
          <div class="card">
            <img src="../../../assets/smambaia.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Quais tipos de plantas posso cultivar em casa?</h5>
              <p class="card-text">Você sabia que, as Samambaias é umas das espécies de plantas mais antigas na Terra?</p>
            </div>
            <button type="button" routerLink="/textOne/"
                    class="btn btn-height btn-bgColor col-md-7">Saiba mais</button>
            <div class="card-footer">
              <small class="text-muted">Publicado 09 de Junho de 2022</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="../../../assets/plantadentrodeHouse.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Como posicionar as plantas dentro de casa?</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <button type="button" routerLink="/textOne"
                    class="btn btn-height btn-bgColor col-md-7">Saiba mais</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="../../../assets/cuentro.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">É possível ter um jardim ornamental dentro de casa?</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <button type="button" routerLink="/textOne"
                    class="btn btn-height btn-bgColor col-md-7">Saiba mais</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <img src="../../../assets/floresVasos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Como cultivar flores em vasos e jardins</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <button type="button" routerLink="/textOne"
                    class="btn btn-height btn-bgColor col-md-7">Saiba mais</button>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>

      </div>
</div>


<div class="card control-mobile container" style="width: 16rem;">
    <img src="../../../assets/CardOne.png" class="card-img-top margin-10-top" alt="..." />
    <div class="card-body">
        <button type="button" routerLink="/text-one-mobile" class="btn btn-success">Saiba mais</button>
    </div>
</div>

<div class="card control-mobile container" style="width: 16rem;">
    <img src="../../../assets/CardTwo.png" class="card-img-top margin-10-top" alt="..." />
    <div class="card-body">
        <button type="button" class="btn btn-success">Saiba mais</button>
    </div>
</div>

<div class="card control-mobile container" style="width: 16rem;">
    <img src="../../../assets/CardThree.png" class="card-img-top margin-10-top" alt="..." />
    <div class="card-body">
        <button type="button" class="btn btn-success">Saiba mais</button>
    </div>
</div>