.display-flex{
    display: flex;
    position: relative;
    top: 20px;
}
.btn-bgColor{
    background: #6bb88a;
    color: white;
}
.btn-bgColor:hover{
    background: #dacb8a;
    color: black;
}
.btn-height{
    padding: 5px;
    position: relative;
    left: 14px;
    top: -10px;
}
@media screen and (min-width: 320px) and (max-width: 769px) {
    .control-desktop{
        display: none;
    }
}
@media screen and (min-width: 769px) and (max-width: 4800px) {
    .control-mobile{
        display: none;
    }
}





